.filter-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 20px;
  }
  
  .filter-label {
    flex: 1;
    display: block;
    margin-bottom: 10px;
  }
  
  .filter-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #FFDAB9; /* Color naranja pastel para el borde del botón */
    border-radius: 4px;
    box-sizing: border-box;
  }
  

  