.pagination-container {
    margin-top: 20px;
    text-align: center;
}

.pagination-list {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.pagination-item {
    display: inline-block;
    margin-right: 5px;
}

.pagination-button {
    background-color: #ffcc80; 
    color: #fff;
    border: 1px solid #ffcc80;
    padding: 6px 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px; 
}

.pagination-button:hover {
    background-color: #ffa726; 
}
